* {
    font-family: 'SF Compact Display', 'Roboto', sans-serif;
}


.image-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
}


.description-section {
    text-align: center;
    max-width: 400px;
    margin-top: 5rem; 
    margin-bottom: 5rem; 
    padding-left: 5rem;
    padding-right: 5rem; 
    font-size: 1.5rem;
}


.download-section {
    margin-top: 5rem; 
    margin-bottom: 5rem; 
    padding-left: 5rem;
    padding-right: 5rem; 
    font-size: 1.5rem;
}


.download-section .download-button {
    margin-top: 2rem; 
    padding: 1.25rem; 
    width: 100%; 
    font-weight: medium; 
    font-size: 1.25rem;
    max-width: 500px;
}


.fade-in {
    animation: fadeIn 1s;
}

.fade-in-delay-1 {
    animation: fadeIn1 1s;
}

.fade-in-delay-2 {
    animation: fadeIn1 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rainbow-text {
    background: linear-gradient(to right, #d9ff03, #00ff22, #0051ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 2s infinite;
}

@keyframes rainbow {
    0% {
        background-size: 200%;
    }
    50% {
        background-size: 50%;
    }
    75% {
        background-size: 100%;
    }
    100% {
        background-size: 200%;
    }
}